@using System.Text
@inject DecompositionRepository DecompositionRepository

@if (CodePoints == null)
{
    <div class="spinner"><i class="fas fa-spinner fa-pulse"></i></div>
}
else
{
    <table class="table table-sm table-bordered table-striped decomposition-table">
        <thead class="thead-dark">
            <tr>
                <th class="display-text">Character</th>
                <th class="code-point">Code Point</th>
                <th class="name">Name</th>
                <th class="unicode-category">Category</th>
                <th class="unicode-block">Block</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var codePoint in CodePoints)
            {
                <tr>
                    <td class="display-text"><a href="/codepoints/@codePoint.Index.ToHexadecimal()">@codePoint.DisplayText</a></td>
                    <td class="code-point"><a href="/codepoints/@codePoint.Index.ToHexadecimal()">@codePoint.Index.ToCodePointRepresentation()</a></td>
                    <td class="name">@codePoint.Name</td>
                    <td class="unicode-category">@codePoint.Category.LongName (@codePoint.Category.ShortName)</td>
                    <td class="unicode-block"><a href="/blocks/@Uri.EscapeDataString(codePoint.Block)">@codePoint.Block</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string _text;

    [Parameter]
    public string Text
    {
        get => _text;
        set
        {
            if (value != _text)
            {
                _text = value;
                UpdateDecompositionAsync();
            }
        }
    }

    private UnicodeBrowser.Models.CodePoint[] CodePoints { get; set; }

    private async void UpdateDecompositionAsync()
    {
        // TODO: Set a delay before showing the spinner
        CodePoints = null;
        StateHasChanged();
        CodePoints = await DecompositionRepository.DecomposeTextAsync(Text, CancellationToken.None);
        StateHasChanged();
    }
}
